@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

html, body {
    height: 100%;
    margin-left: 5.0rem;
    margin-right: 5.0rem;
 }
 
 
body {
    min-height: 100%;
    background-color: dodgerblue;
    font-family: 'Special Elite', cursive;
}
 
header {
    margin-top: 1rem;
    font-size: x-large;
}
 
nav {
   font-size: larger;
}

table[id=gameGrid] {
    max-width: 80%;
    margin-top: 1.0rem;
    margin-left: auto;
    margin-right: auto;
}
 
 .center {
    margin-left: auto;
    margin-right: auto;
 }
 
p {
   font-size: 1.5rem;
   line-height: 1.8rem;
}

#footer {
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-bottom: 1.0rem;
    padding-top: 1.0rem;
    color: lemonchiffon;
    height: 2.0rem;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 1.0rem;
    text-align: center;
 }
 
 a.playLink {
    font-size: 2.0rem;
    padding: 0.60rem;
 }
 
#messageBlock {
   color: firebrick;
}

.centerimage {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
}

#statusMessage {
    text-align: center;
    color: black;
 }
 
 #statusBlock {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3.0rem;
    color: #f0f0f0;
 }
 
/* game.html styles */

button.piece {
   width: 10.0rem;
   height: 10.0rem;
   padding: 0.5rem;
   border-radius: 0.8rem;
   font-size: 3.0rem;
}

button.piece:hover {
   border-radius: 5.0rem;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button.piece.selected {
   outline-style: dotted;
   outline-color: white;
   outline-width: 3px;
   outline-offset: 5px; 
   border-radius: 5.0rem;
}

